/* Styling for the introduction card */
.intro-card {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    gap: 35px;
}

/* styling for text content */
.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    text-align: justify;

}

/* Styling for the main heading */
h1 {
    font-weight: 700;
    font-size: 2.5rem;
}


.text-container p {
    font-size: 1.5rem;
    line-height: 1.5;
}

/* Styling for the profile image */
.profile-image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px dashed red;
}

/* Container for displaying skills icons */
.skills-container {
    display: flex;
    gap: 15px;
    position: relative;
    bottom: -4rem;
}

/* Styling for skills icons */
.skill-icon {
    width: 50px;
    height: 50px;
}

/* Styling for the CV button */
.cv-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    width: auto;
    white-space: nowrap;
    align-self: flex-start;
}

.cv-button:hover {
    background-color: #45a049;
    color: #ddd
}

/* Media query for screens with a max width of 768px (for mobile devices) */
@media screen and (max-width: 768px) {

    /* Adjustments for the introduction card on smaller screens */
    .intro-card {
        margin-top: 5rem;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    /* Styling for the profile image on smaller screens */
    .profile-image {
        width: 150px;
        height: auto;
        margin: 0 auto;
        border-radius: 50%;
        object-fit: cover;
        border: 1px dashed red;
        order: -1;

    }

    .skills-container {
        top: 1rem;
    }

    .skill-icon {
        width: 40px;
        height: 40px;
    }

    /* Styling adjustments for the main heading on smaller screens */
    h1 {
        font-weight: 700;
        font-size: 1.5rem;
        margin-bottom: -15px;
    }

    .text-container p {
        font-size: 1.2rem;
        line-height: 1.2;
    }

    /* Styling adjustments for the CV button on smaller screens */
    .cv-button {
        margin-top: 0;
    }

    .text-container {
        gap: 15px;
    }

    .text-container h1 {
        padding-bottom: 10px;
    }
}