.intro-card {
    display: flex;

}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}