/* styling for the project container */
.project-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-details {
    display: flex;
    flex-direction: column;
}


/* Styling for the project title */
.project-container h2 {
    padding: 20px;
    text-align: center;
    font-size: 1.5rem;
}

/* Style Github links */
.project-details a {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 10px;
    text-align: center;
    font-size: 1.2rem;

}

.project-container a:hover {
    color: blue;
}

/* Styling for the project description */
.project-description {
    text-align: center;
    padding: 10px;
    font-size: 1.2rem;
}

/* Style the image container */
.image-container {
    display: flex;
    justify-content: center;
}

.full-screensht {
    width: 500px;
    height: auto;
    padding-bottom: 2rem;
    margin: auto;
}