/* Main container styling for contact page */
.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

/* Styles for centering content */
.middle-content-container {
    flex-grow: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Sub-container for form and social links */
.sub-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

/* Icon styling for social links */
.icon {
    width: 50px;
    height: 50px;
}

/* LinkedIn icon styling to accommodate different image dimensions */
.li-icon {
    width: 56px;
    height: 46px;
}

.sub-container>p {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

/* Contact form styling */
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 500px;
}

/* Input and textarea styling for the contact form */
.contact-form input,
.contact-form textarea {
    padding: 15px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

/* Send button styling with color and padding */
.contact-form button {
    padding: 15px 20px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 0.5px;
}

/* Social Links Styling */
.social-links-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;
}


.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}

/* Media Query for Mobile Screens */
@media screen and (max-width: 768px) {

    .contact-container {
        width: 100%;
        padding: 0;
    }

    .middle-content-container {
        padding: 20px;
    }

    .sub-container {
        width: auto;
    }

    .sub-container h1 {
        text-align: center;
    }

    .contact-form button {
        width: 100%;
    }

    /* Slightly smaller icons for mobile */
    .social-link {
        width: 40px;
        height: 40px;
    }

    .social-links-container {
        gap: 15px;
    }

    .contact-form button {
        width: calc(100% - 20px);
    }
}

/* Media Query for Screens Larger than 768px */
@media screen and (min-width: 769px) {

    .navbar-icon {
        margin-top: initial;
    }
}