/* Styling for the Home page container */
.home-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* Centering introduction within home page */
.home-container::after {
    content: '';
    flex: 1;
}