.projects-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 80px;
    column-gap: 20px;
}

.screenshot {
    width: 200px;
    height: auto;
}

.screenshot:hover {
    transform: scale(1.05);
}

.project-title {
    color: black;
    padding: 10px;
    font-size: 1.5rem;
}

.project-link {
    text-decoration: none;
}

.project-title:hover {
    color: blue;
}

.project {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 768px) {
    .projects-container {
        grid-template-columns: 1fr;
        padding-bottom: 120px;
    }
}