.header-container {
    display: flex;
    justify-content: space-between;
}

ul {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: end;
    list-style: none;
}

.navbar-link {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

.navbar-link:hover {
    color: blue;
}

.navbar-icon {
    margin-top: 1rem !important;
}