/* Footer background color and styling */
.site-footer {
    background: #929da2;
    color: white;
    padding: 20px 0;
    text-align: center;
}

/* Styling for navigation links */
.site-footer nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

/* Styling for social media icons */
.site-footer .social-links a {
    display: inline-block;
    margin: 0 5px;
}

/* Styling for footer text */
.site-footer p {
    margin-left: auto;
    margin: auto;
}

/* Styling for icons */
.footer-icon {
    width: 40px;
    height: 40px;
}

/* Adjusting for LinkedIn different icon dimensions */
.footer-li-icon {
    width: 50px;
    height: 40px;
}

.social-links {
    margin-top: 10px;
}


/* Adjustments for larger screens */
@media screen and (min-width: 1201px) {
    .site-footer {
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Adjustments for Mobile devices */
@media screen and (max-width: 768px) {

    .site-footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 10px 0px;
        width: 100%;
    }

    /* Hide navigation links on smaller screens */
    .site-footer nav {
        display: none;
    }

    .site-footer .social-links {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 20px;
    }

    .site-footer .social-links a {
        margin: 5px;
    }


    .site-footer p {
        font-size: 1rem;
    }

    a .footer-icon {
        width: 30px;
        height: 30px;
    }

    a .footer-li-icon {
        width: 35px;
        height: 30px;
    }
}